body{
  color: #40514E;
  margin: 0;
text-align: center;
font-family: 'Merriweather', serif;
}

.top{
  background-color: #E4F9F4;
  padding-top: 100px;


}
.middle-container{
  background-color: #FFBCBC;
  margin: 100px 0;
  margin: 0 auto;

}
h1{
  color: #66BFBF;
  font-size: 90px;
  line-height: 2;
  margin-top: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}
h2{
  font-weight: normal;
    color: #66BFBF;
font-family: 'Montserrat Alternates', sans-serif;
  font-size: 40px;

}
h3{
  color: #11999E;
font-family: 'Montserrat Alternates', sans-serif;
}
.middle{

}
.bottom{

}
.buttom-cloud{
  position: absolute;
  left: 500px;
}
.top-cloud{
  position: absolute;
  top:50px;
right: 500px;
}
.footer-link{
  color:  #11999E;
}


.skill-row{
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: left;
  line-height: 2;
}
.pc{
  float: left;
  margin-right: 30px;

}
.pop{
  float: right;
  margin-right: 30px;
}
hr{
  border-style: dotted;
  height: 0;
  width: 10%;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-color: grey;
  border-width: 10px;
  line-height: 2;
  margin: 100px auto;

}
.bottom-container{
  padding: 10px;
  background-color: #66BFBF;
  margin: 0;
  line-height: 2;

}


.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.profile{
  line-height: 2;
}
.intro{
  width: 30%;
  margin: 0 auto;
  line-height: 2;
}
p{
  line-height: 2;
}
.contact-me{
  width: 40%;
  margin: 0 auto;
  line-height: 2;
  padding-bottom: 20px;

}
a{
  margin: 10px 20px;
  text-decoration: none;

}
a:hover{
  color:#EAF6F6;
}
